:root {
    --text-color: #212121;
    --logo-color: #000000;
    --accent-color: #2196F3;
    --grey: #757575;
    --white: #FFFFFF;
    --background-footer:#2F303A;
    --background-section-white:#F5F5F5;
    --background-grey: #F5F4FA;
}

/* Загальні стилі */

html {
box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

a {
text-decoration: none;
color: var(--text-color)
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}



body {
    font-family: 'Roboto','sans-serif';
    letter-spacing: 0.03em;
    color: var(--text-color);
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

.container{
    width: 1200px;
    padding-left: 15px;
    padding-right:15px;
    margin-left: auto;
    margin-right: auto;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* Шапка */

.hat .container{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ECECEC;
}

 /* Лого */
.logo{
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color);
    font-family: 'Raleway';

    display: inline-block;
}

.logo-header{
    color:var(--logo-color);
}

/* Навігація */

.navi{
    margin-left: 94px;
}

.navi-list{
    display: flex;
}

.navi-item +.navi-item{
    margin-left: 50px;
}

.hat{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}


.navi-link{
    display: block;
    padding-top: 32px;
    padding-bottom:32px;
}

.navi-link:focus, .navi-link:hover {
    color: var(--accent-color);
}

.active{
    color: var(--accent-color);
}

/* Контакты в шапці */

.cont-list{
    display: flex;
    margin-left: auto;
}

.cont-item + .cont-item{
    margin-left: 50px;
}

.contact-link{
    color: var(--grey);
    padding-top: 32px;
    padding-bottom: 32px;
}

.contact-link:hover, .contact-link:focus{
    color: var(--accent-color);
}

/* Герой */

.hero{
background-color: var(--background-footer);
}

.hero-header{
    color: var(--white);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    text-align: center;

    margin-bottom: 30px;
}

/* Кнопка */

.hero-button{
    
    color: var(--white);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;
    text-align: center;

    min-width:216px;
    height: 50px;
    border-radius: 4px;
    
    display: block;
    margin-right: auto;
    margin-left: auto;


}

.hero-button:hover, .hero-button:focus{
    background-color: #188CE8;
}

/* Переваги */

.pros{
    padding-top: 94px;
}

.pros-list{
    display: flex;
  
}

.pros-item + .pros-item{
    margin-left: 30px;
}


.pros-item>h3{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.pros-item>p{
    color: var(--grey);
    font-size: 14px;
    line-height: 1.71;

    margin: 0;
}

/* Чим ми займаємося */

.areas{
    padding-top: 94px;
    padding-bottom: 94px;
}

.areas-list{
    display: flex;
   
}

.areas-item + .areas-item{
    margin-left: 30px;
}

.areas-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;

    margin-bottom: 50px;
}

/* Команда */

.team{
    
    padding-top: 94px;
    padding-bottom: 94px;

    background: #F5F4FA;
}

.team-list{
    display: flex;
   
}

.team-item + .team-item{
    margin-left: 30px;
}

.team-item{
    background-color: var(--white);
    border-radius: 0px 0px 4px 4px;
}

.team-card{
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-header{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;

    margin-bottom: 50px;
}

.position-held{
    color: var(--grey);
    font-size: 16px;
    line-height: 1.19;
    text-align: center;

    margin: 0;
}

.name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;

    margin-bottom: 10px;
}

/* Підвал */

.basement{

    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--background-footer);
    font-size: 14px;
    line-height: 1.71;

}


.basement address{
    margin-top: 20px;
}

.basement-item + .basement-item {
    margin-top: 9px;
}

.logo-footer{
    color: var(--white);
}

.map{
    color: var(--white);
    font-style: normal
}

.map:hover, .map:focus{
color: var(--accent-color);
}

.basement-contact{
color: rgba(255, 255, 255, 0.6);
font-style: normal
}

.basement-contact:focus, .basement-contact:hover{
    color: var(--accent-color);
}

/* Портфоліо */


.projects{
    padding-top: 94px;
    padding-bottom: 94px;
}

.button-list{
    display: flex;
    justify-content: center;
}

.button-item + .button-item{
    margin-left: 8px;
}

.card-list{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}


.card-item {
    margin-right: 30px;
    margin-bottom: 30px;
}

.card-item:nth-child(3n){
    margin-right: 0px;
}

.card-item:nth-last-child(-n + 3){
    margin-bottom: 0px;
}

.description{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    

}

.description p{
    color: var(--grey);
    font-size: 16px;
    line-height: 1.9;
    margin: 0;
    
}

.description h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    margin-bottom: 4px;

}

.projects-button{
    
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
    
    background-color: var(--background-grey);
    color: var(--text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    font-family: inherit;
    cursor: pointer;

    border-color: transparent;
    border-radius: 4px;
}

.projects-button:hover, .projects-button:focus{
    background-color: var(--accent-color);
    color: var(--white);

}



